@media screen and (min-width: 420px){
    body{
        background-color: white;
        margin: 0px;
        border: 0px;
        padding: 0px;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main img{
        margin-top: 2vw;
        width: 500px;
        height: 500px;
    }
    main a{
        text-decoration: none;
        background-color: rgb(243, 243, 243);
        color: grey;
        font-size: 40px;
        border-radius: 1vw;
        padding-left: 2vw;
        padding-right: 2vw;
        margin-top: 2vw;
        transition: 2s;
    }
    main a:hover{
        background-color: pink;
        color: black;
    }
}
@media screen and (max-width: 419px){
    body{
        background-color: white;
        margin: 0px;
        border: 0px;
        padding: 0px;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main img{
        margin-top: 50%;
        width: 400px;
        height: 400px;
    }
    main a{
        text-decoration: none;
        background-color: rgb(243, 243, 243);
        color: grey;
        font-size: 40px;
        border-radius: 1vw;
        padding-left: 2vw;
        padding-right: 2vw;
        margin-top: 2vw;
        transition: 2s;
    }
    main a:hover{
        background-color: pink;
        color: black;
    }
}