@media screen and (min-width: 430px)
{
    body{
        margin: 0px;
        padding: 0px;
        border: 0px;
        background-color: rgb(248, 248, 248);
    }
    aside{
        display: flex;
        position: fixed;
        width: 235px;
        float: left;
        flex-direction: column;
        align-items: center;
        height: 100%;
        background-color: white;
        box-shadow: 1.5px 1px 4px rgb(228, 228, 228);
        padding-left: 2.3vw;
        padding-right: 2.3vw;
        padding-top: 3.6vw;
    }
    aside #perfil{
        padding-top: 2.5px;
        padding-left: 2.5px;
        padding-right: 2.8px;
        border: 0.1vw solid pink;
        border-radius: 30vw;
        background-color: pink;
    }
    aside div img{
        border-radius: 30vw;
        border: 0.3vw solid rgb(255, 222, 228);
        width: 110px;
        height: 110px;
    }
    aside h1{
        font-size: 18px;
        padding-top: 0.5vw;
        margin-bottom: -0.6vw;
    }
    aside p{
        color: #808080;
        margin-bottom: 3vw;
    }
    .botoes a{
        text-decoration: none;
        color: grey;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        background-color:  rgb(243, 243, 243);
        align-items: flex-end;
        padding-right: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 80px;
        margin-bottom: 0.5vw;
        border-radius: 5vw;
    }
    .botoes a:hover{
        color: white;
        background-color: pink;
        box-shadow: 0px 0.1vw 2px rgb(228, 228, 228);
    }
    main{
        float: right;
        width: 60%;
        display: flex;
        flex-direction: column;
    }
    main .pesquisa{
        display: flex;
        align-items: center;
        background-color: white;
        width: 570px;
        border-radius: 1vw;
        margin-bottom: 5vw;
        margin-top: 2.5vw;
        box-shadow: 0.2vw 0.2vw 2px rgb(228, 228, 228);
        border: 0.1vw solid rgb(228, 228, 228);
        padding-bottom: 2vw;
        padding-top: 2vw;
    }
    main .pesquisa img#perfil_main{
        width: 50px;
        height: 50px;
        border-radius: 50vw;
        border: 0.3vw solid pink;
        margin-left: 10%;
        margin-right: 5%;
    }
    main .pesquisa img{
        width: 20px;
        height: 20px;
    }
    main .pesquisa input{
        border-radius: 5vw;
        padding-bottom: 0.5vw;
        padding-top: 0.5vw;
        width: 60%;
        margin-right: -6%;
    }
    main .postagens section{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 570px;
        border-radius: 1vw;
        margin-bottom: 5vw;
        margin-top: 2.5vw;
        box-shadow: 0.2vw 0.2vw 2px rgb(228, 228, 228);
        border: 0.1vw solid rgb(228, 228, 228);
        padding-bottom: 2vw;
        padding-top: 2vw;
    }
    main .postagens .usuario{
        display: flex;
        flex-direction: row;
        margin-bottom: 5%;
    }
    main .postagens .usuario img{
        width: 50px;
        height: 50px;
        border-radius: 50vw;
        border: 0.3vw solid pink;
        margin-left: 10%;
        margin-right: 2%;
    }
    main .postagens h2{
        font-size: 18px;
    }
    main .corpo{
        margin-left: 10%;
        margin-right: 2%;
    }
    main .corpo img{
        width: 440px;
        height: 440px;
        border-radius: 1vw;
    }
    main .corpo p{
        color: grey;
        padding-right: 13%;
        text-align: justify;
    }
    .subir{
            position: fixed;
            float: right;
            right: 0%;
            bottom: 0%;
    }
    .subir a img{
        width: 30px;
        height: 30px;
    }
}
/*@media screen and (max-width: 700px)
{
    body{
        margin: 0px;
        padding: 0px;
        border: 0px;
        background-color: rgb(248, 248, 248);
    }
    aside{
        display: flex;
        position: fixed;
        width: 135px;
        float: left;
        flex-direction: column;
        align-items: center;
        height: 100%;
        background-color: white;
        box-shadow: 1.5px 1px 4px rgb(228, 228, 228);
        padding-left: 2.3vw;
        padding-right: 2.3vw;
        padding-top: 8vw;
    }
    aside #perfil{
        padding-top: 2.5px;
        padding-left: 2.5px;
        padding-right: 2.8px;
        border: 0.1vw solid pink;
        border-radius: 30vw;
        background-color: pink;
    }
    aside div img{
        border-radius: 30vw;
        border: 0.3vw solid rgb(255, 222, 228);
        width: 100px;
        height: 100px;
    }
    aside h1{
        font-size: 12px;
        padding-top: 0.5vw;
        margin-bottom: -0.6vw;
    }
    aside p{
        color: #808080;
        margin-bottom: 3vw;
        font-size: 14px;
        text-align: center;
    }
    .botoes a{
        text-decoration: none;
        color: grey;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        background-color:  rgb(243, 243, 243);
        align-items: flex-end;
        padding-right: 7px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 30px;
        margin-bottom: 1.5vw;
        border-radius: 5vw;
    }
    .botoes a:hover{
        color: white;
        background-color: pink;
        box-shadow: 0px 0.1vw 2px rgb(228, 228, 228);
    }
    main{
        float: right;
        width: 74%;
        display: flex;
        flex-direction: column;
    }
    main .pesquisa{
        display: flex;
        align-items: center;
        background-color: white;
        width: 480px;
        border-radius: 1vw;
        margin-bottom: 5vw;
        margin-top: 2.5vw;
        box-shadow: 0.2vw 0.2vw 2px rgb(228, 228, 228);
        border: 0.1vw solid rgb(228, 228, 228);
        padding-bottom: 2vw;
        padding-top: 2vw;
    }
    main .pesquisa img#perfil_main{
        width: 50px;
        height: 50px;
        border-radius: 50vw;
        border: 0.3vw solid pink;
        margin-left: 10%;
        margin-right: 5%;
    }
    main .pesquisa img{
        width: 20px;
        height: 20px;
    }
    main .pesquisa input{
        border-radius: 5vw;
        padding-bottom: 0.5vw;
        padding-top: 0.5vw;
        width: 60%;
        margin-right: -6%;
    }
    main .postagens section{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 480px;
        border-radius: 1vw;
        margin-bottom: 5vw;
        margin-top: 2.5vw;
        box-shadow: 0.2vw 0.2vw 2px rgb(228, 228, 228);
        border: 0.1vw solid rgb(228, 228, 228);
        padding-bottom: 2vw;
        padding-top: 2vw;
    }
    main .postagens .usuario{
        display: flex;
        flex-direction: row;
        margin-bottom: 5%;
    }
    main .postagens .usuario img{
        width: 50px;
        height: 50px;
        border-radius: 50vw;
        border: 0.3vw solid pink;
        margin-left: 10%;
        margin-right: 2%;
    }
    main .postagens h2{
        font-size: 18px;
    }
    main .corpo{
        margin-left: 10%;
        margin-right: 2%;
    }
    main .corpo img{
        width: 400px;
        height: 400px;
        border-radius: 1vw;
    }
    main .corpo p{
        color: grey;
        padding-right: 13%;
        text-align: justify;
    }
    .subir{
            position: fixed;
            float: right;
            right: 0%;
            bottom: 0%;
    }
    .subir a img{
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width: 600px)
{
    body{
        margin: 0px;
        padding: 0px;
        border: 0px;
        background-color: rgb(248, 248, 248);
    }
    aside{
        display: flex;
        position: fixed;
        width: 90px;
        float: left;
        flex-direction: column;
        align-items: center;
        height: 100%;
        background-color: white;
        box-shadow: 1.5px 1px 4px rgb(228, 228, 228);
        padding-left: 2.3vw;
        padding-right: 2.3vw;
        padding-top: 8vw;
    }
    aside #perfil{
        padding-top: 2.5px;
        padding-left: 2.5px;
        padding-right: 2.8px;
        border: 0.1vw solid pink;
        border-radius: 30vw;
        background-color: pink;
    }
    aside div img{
        border-radius: 30vw;
        border: 0.3vw solid rgb(255, 222, 228);
        width: 80px;
        height: 80px;
    }
    aside h1{
        font-size: 10px;
        padding-top: 0.5vw;
        margin-bottom: -0.6vw;
    }
    aside p{
        color: #808080;
        margin-bottom: 3vw;
        font-size: 10px;
        text-align: center;
    }
    .botoes a{
        text-decoration: none;
        color: grey;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        background-color:  rgb(243, 243, 243);
        align-items: flex-end;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        margin-bottom: 1.5vw;
        border-radius: 5vw;
    }
    .botoes a:hover{
        color: white;
        background-color: pink;
        box-shadow: 0px 0.1vw 2px rgb(228, 228, 228);
    }
    main{
        float: right;
        width: 74%;
        display: flex;
        flex-direction: column;
    }
    main .pesquisa{
        display: flex;
        align-items: center;
        background-color: white;
        width: 345px;
        border-radius: 1vw;
        margin-bottom: 5vw;
        margin-top: 2.5vw;
        box-shadow: 0.2vw 0.2vw 2px rgb(228, 228, 228);
        border: 0.1vw solid rgb(228, 228, 228);
        padding-bottom: 2vw;
        padding-top: 2vw;
    }
    main .pesquisa img#perfil_main{
        width: 50px;
        height: 50px;
        border-radius: 50vw;
        border: 0.3vw solid pink;
        margin-left: 10%;
        margin-right: 5%;
    }
    main .pesquisa img{
        width: 15px;
        height: 15px;
    }
    main .pesquisa input{
        border-radius: 5vw;
        padding-bottom: 0.5vw;
        padding-top: 0.5vw;
        width: 60%;
        margin-right: -6%;
    }
    main .postagens section{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 345px;
        border-radius: 1vw;
        margin-bottom: 5vw;
        margin-top: 2.5vw;
        box-shadow: 0.2vw 0.2vw 2px rgb(228, 228, 228);
        border: 0.1vw solid rgb(228, 228, 228);
        padding-bottom: 2vw;
        padding-top: 2vw;
    }
    main .postagens .usuario{
        display: flex;
        flex-direction: row;
        margin-bottom: 5%;
    }
    main .postagens .usuario img{
        width: 50px;
        height: 50px;
        border-radius: 50vw;
        border: 0.3vw solid pink;
        margin-left: 10%;
        margin-right: 2%;
    }
    main .postagens h2{
        font-size: 18px;
    }
    main .corpo{
        margin-left: 10%;
        margin-right: 2%;
    }
    main .corpo img{
        width: 285px;
        height: 285px;
        border-radius: 1vw;
    }
    main .corpo p{
        color: grey;
        padding-right: 13%;
        text-align: justify;
    }
    .subir{
            position: fixed;
            float: right;
            right: 0%;
            bottom: 0%;
    }
    .subir a img{
        width: 30px;
        height: 30px;
    }
}*/
@media screen and (max-width: 415px)
{
    body{
        margin: 0px;
        padding: 0px;
        border: 0px;
        background-color: rgb(248, 248, 248);
    }
    aside{
        display: flex;
        flex-direction: column;
        background-color: white;
        align-items: center;
        box-shadow: 1.5px 1px 4px rgb(228, 228, 228);
        padding-bottom: 5vw;
    }
    aside #perfil{
        background-color: pink;
        border: 1px solid pink;
        border-radius: 30vw;
        padding-top: 0.4vw;
        padding-left: 0.4vw;
        padding-right: 0.4vw;
        margin-top: 5vw;
    }
    aside div img{
        width: 100px;
        height: 100px;
        border-radius: 30vw;
        border: 4px solid rgb(255, 222, 228);
    }
    aside h1{
        font-size: 15px;
        margin-bottom: -1vw;
    }
    aside p{
        color: #808080;
    }
    aside .botoes a{
        text-decoration: none;
        color: grey;
        background-color: rgb(243, 243, 243);
        border-radius: 4vw;
        padding-right: 2.5vw;
        padding-left: 2.5vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        font-size: 13px;
    }
    aside .botoes a:hover{
        color: white;
        background-color: pink;
    }
    main{
        margin-top: 5vw;
        display: flex;
        flex-direction: column;
        margin-left: 3vw;
        margin-right: 3vw;
    }
    main .pesquisa{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: 0.2vw 0.2vw 2px rgb(228, 228, 228);
        border: 0.5vw solid rgb(228, 228, 228);
        border-radius: 2vw;
        padding-top: 4vw;
        padding-bottom: 4vw;
    }
    main .pesquisa #perfil_main{
        width: 40px;
        height: 40px;
        border-radius: 30vw;
        border: 4px solid rgb(255, 222, 228);
        margin-right: 15px;
    }
    main .pesquisa input{
        border-radius: 5vw;
        padding-bottom: 0.5vw;
        padding-top: 0.5vw;
        width: 60%;
        margin-right: -8%;
    }
    main .pesquisa #lupa{
        width: 4vw;
        height: 4vw;
    }
    main .postagens section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: 0.2vw 0.2vw 2px rgb(228, 228, 228);
        border: 0.5vw solid rgb(228, 228, 228);
        border-radius: 2vw;
        padding-top: 4vw;
        padding-bottom: 4vw;
        margin-top: 5vw;
        padding-right: 2vw;
        padding-left: 2vw;
    }
    main .postagens section .usuario img{
        width: 60px;
        height: 60px;
        border-radius: 30vw;
        border: 4px solid rgb(255, 222, 228);
        margin-right: 2px;
    }
    main .postagens section .usuario h2{
        font-size: 11px;
    }
    main .postagens section .corpo{
        margin-left: 5vw;
    }
    main  .postagens section .corpo img{
        width: 200px;
        height: 200px;
        border-radius: 5vw;
        margin-left: 10%;
    }
    main .postagens section .corpo p{
        text-align: justify;
        color: grey;
    }
    img{
        width: 100px;
        height: 100px;
    }
    .subir{
        position: fixed;
        right: 10px;
        top: 92%;
    }
    .subir img{
        width: 40px;
        height: 40px;
    }
}
